// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
@import '~bootstrap-icons/font/bootstrap-icons';

// Custom
@import 'custom';
